body {
    height: 100%;
    
}

.main-title {
    height: 10%;
    background-color: rgb(245,245,245);
    border:thin solid black;
}

.title {
    text-align: center; 
    font-size: 40px; 
    vertical-align: central;
    font-family: serif;
    font-style: oblique;
}

.main-content {
    height: 100%;
    background-color: darkgrey;
}

.tab-div1 {
    width: 10%;
    height: 90%;   
    float: left;
    
    
}

.tab-divider {
    height:15px;
    display:block;
}
.tab-div2 {
    
    margin-left: 10%; 
    height: 90%;
    min-height: 398px;
    background-color: white;
    
}

.form-div {
    height:auto;
    margin:2% 10% 20% 10%;
    background-color: grey;
    
}

.auto-style6 {
    margin-left: 5px;
}

.tab {
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
        
}

.tab a {
    display: block;
    color: rgb(0, 0, 0);
    padding: 14px;
    font-size:18px;
    text-decoration: none;
    text-align: center;
    
}

.tab a:hover {
    background-color: #a6d1c1;
    color: white;
  }

.tab-div2 button {
	background:linear-gradient(to bottom, #fdfbf6 5%, #b8b6b1 100%);
	background-color:honeydew;
	border-radius:15px;
	border:2px solid #b4b4b4;
	display:inline-block;
	cursor:pointer;
	color:#646060;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:.6%;
	text-decoration:none;
	text-shadow:0px 1px 0px #d4d1d1;
    transition: 0.3s;
    margin-bottom: .5%;

}

.tab-div2 button:hover {
    background-color: aliceblue;
    color: darkgray;
}

.tab-div2 button:active {
    background-color: azure;
    box-shadow: 0 5px #662;
    transform: translateY(8%);
}


.tabcontent{
          
    border: 10px darkgray;
    border-style: inset;
    border-spacing: 40px;
    height: 100%;
    
}

.form-button{
    display :inline-block; 
}

.divider {
    width:50px;
    height:auto;
    display:inline-block;
}

label {
    font-size: 16px;
    padding: 6px;
    color: black;
    font-weight: bold;
    font-style:oblique;
    font-family:'Global Sans Serif';
    margin: 2px,0,6px,2px;
}

input:not([type=submit]):not([type=file])
, select, textarea{
    border: 2px medium white; 
    -webkit-box-shadow: 
        inset 0 0 2px  rgba(0,0,0,0.3),
            0 0 2px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
        inset 0 0 2px  rgba(0,0,0,0.3),
            0 0 2px rgba(0,0,0,0.1); 
    box-shadow: 
        inset 0 0 2px  rgba(0,0,0,0.3),
            0 0 2px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(240,240,240,0.5);
    margin: 0,0,0,0;
    font-size: 14px;
    font-weight:bold;
}

table {
    border-collapse: collapse;
    margin-left:20%;
    width:100%;
    
}

td, tr, th {
    
    padding: 10px;
    font-size: 18px;
    font-weight:bold;
    border-bottom: 1px solid black;
    text-align: center;
}

.cform1 {
    width: 30%;
    float: left;
}

.cform2 {
    width: 35%;
    margin-left: 20%;
}

.pform1 {
    width: 33%;
    float: left;
}

.pform2 {
    width: 33%;
    float: left;
}

.pform3 {
    width: 33%;
    float: left;
}

header {
    font-weight: bold; 
    font-size:24px;
}

.search-field {
    width: 30%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
  }
  
.search-button {
    background: transparent !important;
    border: none !important;
    outline: none !important;
    margin-left: 0% !important;
    transform: translateY(20%) !important;
  }
  
.search-button img {
    width: 20px;
    height: 20px;
    object-fit: scale-down;
  }

.table-div {
    margin-right:40%
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 10;
    top: 0;
    width: 70%; /* Full width */
    height: 50%; /* Full height */
    overflow: auto; /* Enable scroll if needed */   
    background-color: rgba(248, 248, 248, 0.767); /* Black w/ opacity */
    transform:translate(14.2%,40%);
    color:rgb(0, 0, 0)
    
    
    
}

.modal_content {
    background-color: #fefefea1;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    pointer-events: none;
    color:rgb(255, 7, 7)
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }



