body {
    height: auto;
    
}

.main-title {
    height: 10%;
    background-color: rgb(245,245,245);
    border:thin solid black;
}

.title {
    text-align: center; 
    font-size: 40px; 
    vertical-align: central;
    font-family: serif;
    font-style: oblique;
}

.main-content {
    height: 90%;
    background-color: darkgrey;
}

.tab-div1 {
    width: 10%;
    height: 90%;
        
    float: left;
    
    
}
.tab {
    margin: 10%;
    position: relative;
    width: auto;
    transform: translate(20%, 50%);
        
}
.tab-divider {
    height:15px;
    display:block;
}
.tab-div2 {
    
    margin-left: 14%; 
    height: 90%;
    background-color: white;
    
}
.auto-style6 {
    margin-left: 5px;
}

.tab button {
    display:block;
    transition: 0.3s;
    padding: 1.5%;
    cursor: pointer;
    background-color: honeydew;
    font-size: 16px;
    opacity: 0.6;
    width: 100%;
    font-style:normal;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.tab button:hover {
    background-color: aliceblue;
    color: darkgray;
}

.tab button:active {
    background-color: azure;
    box-shadow: 0 5px #662;
    transform: translateY(8%);
}

button {
    display:inline-block;
    transition: 0.3s;
    padding: 1.5%;
    cursor: pointer;
    background-color: honeydew;
    font-size: 16px;
    opacity: 0.6;
    width: 10%;      
    font-style:normal;
    font-family: 'Times New Roman';
    font-weight: bold;

}

button:hover {
    background-color: aliceblue;
    color: darkgray;
}

button:active {
    background-color: azure;
    box-shadow: 0 5px #662;
    transform: translateY(8%);
}


.tabcontent{
    display: none;       
    border: 10px solid lightgray;
    text-align: justify;
    border-spacing: 40px;
}

.form-button{
    display :inline-block; 
}

.divider {
    width:50px;
    height:auto;
    display:inline-block;
}

label {
    font-size: 16px;
    padding: 6px;
    color: black;
    font-weight: bold;
    font-style:oblique;
    font-family:'Global Sans Serif';
    margin: 2px,0,6px,2px;
}

input:not([type=submit]):not([type=file])
, select, textarea{
    border: 2px medium white; 
    -webkit-box-shadow: 
        inset 0 0 2px  rgba(0,0,0,0.3),
            0 0 2px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
        inset 0 0 2px  rgba(0,0,0,0.3),
            0 0 2px rgba(0,0,0,0.1); 
    box-shadow: 
        inset 0 0 2px  rgba(0,0,0,0.3),
            0 0 2px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(240,240,240,0.5);
    margin: 0,0,0,0;
    font-size: 14px;
    font-weight:bold;
}

table {
    border-collapse: collapse;
}

td, tr, th {
    
    padding: 10px;      
    font-size: 14px;
    font-weight:bold;
    border-bottom: 1px solid black;
}

.cform1 {
    width: 50%;
    float: left;
}

.cform2 {
    width: 50%;
    float: left;
}

.pform1 {
    width: 33%;
    float: left;
}

.pform2 {
    width: 33%;
    float: left;
}

.pform3 {
    width: 33%;
    float: left;
}

header {
    font-weight: bold; 
    font-size:24px;
}